.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #282c34; /* A neutral dark background for the page */
  overflow: hidden; /* Hide scrollbars if canvas is too big, GameCanvas.module.css will handle scaling */
} 